body {
  background-image: url("../images/Pizza\background.jpg");
  background-size: contain;
}
#show-customer,
#show-address,
#show-total,
#address {
  display: none;
}
form {
  padding: 0 40px;
  margin: 0 15 0 15;
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  font-size: 35px;
  font-weight: bolder;
}
.navbar {
  background-color: red;
  margin-bottom: 50px;
}
.menu a {
  padding: 0 50px;
}
a {
  color: black;
}
#BYP {
  margin-top: 120px;
}
#chicken-olive {
  height: 740px;
}
.social {
  display: block;
  padding: 0 20px;
  width: 30%;
  height: 30%;
  margin: 20px auto;
}
.icons {
  text-align: center;
  margin: auto;
}
.card {
  margin-bottom: 30px;
}
#footer {
  margin-bottom: 0;
}
h2,
h4 {
  color: white;
}
h2 {
  text-align: center;
}
label {
  color: white;
}
sup {
  color: red;
  font-weight: bolder;
}
h5,
p,
#order-summary {
  text-align: center;
}
#complete {
  text-align: center;
}
